Flask==2.0.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gunicorn
h5py
idna==3.2
importlib-metadata==4.6.1
matplotlib
numpy
pandas
Pillow
pipenv
scikit-learn
scipy
seaborn
tensorflow
sklearn
