<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Beekeeping</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
  
</head>

<body>
 <div class="login">
	<h1>Beekeeping Predictive Analysis for Box F</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="Temperature" placeholder="Temperature" required="required" />
        <input type="number" name="Humidity" placeholder="Humidity" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form

   <br>
   <br>
   {{ prediction_text }}

 </div>
   <br>
   <br>
<a href="default.asp" target="_blank">Home Page</a>
<a href="/chart1">Graph 1</a>
<a href="/chart2">Graph 2</a>
<a href="/chart3">Graph 3</a>
<a href="/chart4">Graph 4</a>
<a href="/chart5">Graph 5</a>


</body>
</html>
